:root {
    /* Base palette */
    --color-black: #010101;
    --color-zinc-50: #181818;
    --color-zinc-200: #272727;
    --color-zinc-500: #b8b8b8;
    --color-zinc-600: #262626;
    --color-zinc-950: #dad9d9;

    /* Semantic tokens */
    --color-bg: var(--color-black);
    --color-bg-secondary: var(--color-zinc-50);
    --color-bg-card: var(--color-zinc-600);

    --color-border: var(--color-zinc-200);

    --color-text: var(--color-zinc-950);
    --color-text-secondary: var(--color-zinc-500);

    /* Layout */
    --sidebar-width: 264px;
    --header-height: 64px;

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;

    /* Font Weight */
    --font-w-sm: 400;
    --font-w-md: 600;
    --font-w-lg: 800;

    /* Transition */
    --transition-fast: 150ms ease;
    --transition-normal: 250ms ease;
    --transition-slow: 350ms ease;

    /* Typography */
    --font-sans: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
