@import "./shared/styles/tokens.css";
@import "./shared/styles/fonts.css";
@import "./shared/styles/reset.css";

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text-secondary);
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: var(--font-w-sm);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-text);
    font-weight: var(--font-w-md);
}
